<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Operaciones</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="contaier-monto">

        <ion-card>
            <ion-card-header>
                <ion-row>
                    <ion-col>
                        <h1>Total de operaciones: 200</h1>
                    </ion-col>
                </ion-row>
            </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h2>Operaciones de cuentas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let cuenta of cuentas" [routerLink]="['/tabs/operaciones', cuenta.idOperacionCuenta]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Numero de operacion {{cuenta.idOperacionCuenta}} de monto <strong>{{cuenta.monto}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones del monedero</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let monedero of monederos" [routerLink]="['/tabs/operaciones/monedero', monedero.idOperacionMonedero]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Numero de operacion {{monedero.idOperacionMonedero}} de monto <strong>{{monedero.monto}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones de tarjetas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let tarjeta of tarjetas" [routerLink]="['/tabs/operaciones', tarjeta.idOperacionTarjeta]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Numero de operacion {{tarjeta.idOperacionTarjeta}} de monto <strong>{{tarjeta.monto}}</strong>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

    </div>


</ion-content>