<ion-content>


    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>
                <div class="ajuste">
                    <img src="../assets/imagenes/logo-blanco.png">
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h2><strong>Post virtual</strong> </h2>
                        Iniciar Sesión

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <form #f='ngForm' (ngSubmit)="ingresar( f )">
                                <ion-item>
                                    <ion-icon name="person" class="icon-login"></ion-icon>
                                    <ion-input [ngModel]="user" name="user" type="text" required placeholder="Usuario"></ion-input>
                                </ion-item>
                                <br />
                                <ion-item>
                                    <ion-icon name="lock-open-outline"></ion-icon>
                                    <ion-input [ngModel]="password" name="password" type="password" required placeholder="Contraseña"></ion-input>
                                </ion-item>
                                <ion-row>
                                    <ion-col>
                                        <ion-button type="submit" fill="solid" expand="full">
                                            Entrar
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </form>


                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <h3 (click)="cambiar()">Recuperar usuaio y contraseña</h3>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="aux">
                <ion-item>
                    <ion-label position="floating"><strong>Email para recuperar usaurio y contraseña:</strong></ion-label>
                    <ion-input #input name="email"></ion-input>

                </ion-item>
                <ion-button (click)="recuperar(input.value)">
                    enviar
                </ion-button>
            </div>

        </div>
    </ion-slide>
</ion-content>