<div *ngIf = "s_configuraciones.show">
    <h1 class="display-4">Configuraciones</h1>
    <div class="container">
        <form [formGroup]="formConfig">
            <div class="form-group col-md-12">
                <label>Cambiar contraseña</label>
                <input type="password" class = "form-control" placeholder="Contraseña actual" formControlName="contraVieja">
                <input type="password" class = "form-control" placeholder="Nueva contraseña" formControlName="contraNueva">
                <br>
                <button type="submit" class="btn btn-primary" [disabled] = "formConfig.invalid" (click) = "cambiarContra()">Cambiar</button>
                <br>
                <label>Cambiar límites</label>
                <input type="text" class = "form-control" placeholder="Nuevo límite">
                <br>
                <button type="submit" class="btn btn-primary">Cambiar</button>
            </div>
        </form>
    </div>
</div>
