<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Cuenta</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-perfil">
            <ion-card>
                <ion-card-header>
                    <ion-row>
                        <ion-col>
                            <h1>Saldo disponible:</h1>
                            <h2>2000 $</h2>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-contend>

                    <strong><h3>Cuentas registradas del usuario</h3></strong>

                    <ion-list>
                        <ion-item *ngFor="let cuenta of cuentas">
                            <ion-icon slot="start" name="reader-outline"></ion-icon>
                            <ion-label>
                                ID: <strong>{{cuenta.idCuenta}}</strong> | Numero de cuenta: <strong>{{cuenta.numero}}</strong>
                            </ion-label>
                        </ion-item>
                    </ion-list>

                </ion-card-contend>
            </ion-card>
        </div>
    </ion-slide>

</ion-content>