<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Perfil de Usuario</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-perfil">
            <ion-card>
                <ion-card-header>
                    <ion-row>
                        <ion-col>
                            <h1>Modificar perfil</h1>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-contend>
                    <ion-item>
                        <ion-label position="floating"><strong>Usuario:</strong></ion-label>
                        <ion-input [value]="usuario.usuario"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Fecha de registro:</strong></ion-label>
                        <ion-input [value]="usuario.fechaRegistro"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Numero de identificación:</strong></ion-label>
                        <ion-input [value]="usuario.nroIdentificacion"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Email:</strong></ion-label>
                        <ion-input [value]="usuario.email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Telefono:</strong></ion-label>
                        <ion-input [value]="usuario.telefono"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"><strong>Dirección:</strong></ion-label>
                        <ion-input [value]="usuario.direccion"></ion-input>
                    </ion-item>
                </ion-card-contend>
            </ion-card>
            <ion-button type="submit" fill="solid" expand="full">
                Guardar
            </ion-button>
        </div>
    </ion-slide>




</ion-content>