<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaulHref="/tabs/cuenta"></ion-back-button>
        </ion-buttons>
        <ion-title>Realizar pago</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>


    <div class="contaier-monto">
        <ion-card>
            <ion-card-header>
                <ion-row>
                    <ion-col>
                        <h1>Especificaciones del pago</h1>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-contend>
                <ion-item>
                    <ion-label position="floating"><strong>Usuario receptor:</strong></ion-label>
                    <br>
                    <h4 class="ion-text-center">{{user}}</h4>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"><strong>Monto:</strong></ion-label>
                    <br>
                    <h4 class="ion-text-center">{{operacion.monto}}</h4>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"><strong>Fecha:</strong></ion-label>
                    <br>
                    <h4 class="ion-text-center">{{operacion.fecha_solicitus}}</h4>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"><strong>Estatus:</strong></ion-label>
                    <br>
                    <h4 class="ion-text-center">{{operacion.estatus}}</h4>
                </ion-item>



                <h2 class="ion-text-center">Metodo de pago</h2>
            </ion-card-contend>
        </ion-card>

        <ion-button (click)="boolTarjeta()" color="primary" fill="solid" expand="block">
            Tarjeta
        </ion-button>

        <ion-button (click)="boolCuenta()" color="primary" fill="solid" expand="block">
            Cuenta
        </ion-button>
        <ion-button (click)="pagarMonedero()" color="primary" fill="solid" expand="block">
            Monedero
        </ion-button>
        <br>
        <ion-item *ngIf="auxT">
            <ion-label>Escoja una tarjeta</ion-label>
            <ion-select [(ngModel)]="tarjeta" (ionChange)="obtenerIDtajeta()">
                <ion-select-option value="{{metodo.idtarjeta}}" *ngFor="let metodo of metodoPagoT">{{metodo.numero}}</ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-button (click)="pagarTarjeta()" *ngIf="auxT" color="warning" fill="solid" expand="block">
            Pagar con tarjeta
        </ion-button>



        <ion-item *ngIf="auxC">
            <ion-label>Escoja una cuenta</ion-label>
            <ion-select [(ngModel)]="cuenta" (ionChange)="obtenerIDcuenta()">
                <ion-select-option value="{{metodo.idcuenta}}" *ngFor="let metodo of metodoPagoC">{{metodo.numero}}</ion-select-option>
            </ion-select>
        </ion-item>
        <br>

        <ion-button (click)="pagarCuenta()" *ngIf="auxC" color="warning" fill="solid" expand="block">
            Pagar con cuenta
        </ion-button>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>





</ion-content>