<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="perfil">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cuenta">
            <ion-icon name="wallet-outline"></ion-icon>
            <ion-label>Cuenta</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="operaciones">
            <ion-icon name="git-compare-outline"></ion-icon>
            <ion-label>Operaciones</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>