<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Operaciones</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="contaier-monto">


        <ion-card>
            <ion-card-header>
                <h2>Operaciones de cuentas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let cuenta of cuentas" [routerLink]="['/tabs/operaciones', cuenta.idoperacioncuenta]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>

                            Operacion: {{cuenta.idoperacioncuenta}}

                            <h1>
                                Monto: <strong>{{cuenta.monto}}</strong>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones del monedero</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let monedero of monederos" [routerLink]="['/tabs/operaciones/monedero', monedero.idoperacionesmonedero]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Operacion {{monedero.idoperacionesmonedero}}
                            <h1>
                                Monto: <strong>{{monedero.monto}}</strong>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones de tarjetas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let tarjeta of tarjetas" [routerLink]="['/tabs/operaciones/tarjeta', tarjeta.idoperaciontarjeta]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Operacion: {{tarjeta.idoperaciontarjeta}}
                            <h1>
                                Monto: <strong>{{tarjeta.monto}}</strong>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones de reintegro</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let reintegro of reintegros" [routerLink]="['/tabs/operaciones/reintegro', reintegro.idreintegro]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Reintegro: {{reintegro.idreintegro}}
                            <h1>
                                Estatus: <strong>{{reintegro.estatus}}</strong>
                            </h1>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

    </div>


</ion-content>