<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Operaciones</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="contaier-monto">

        <ion-card>
            <ion-card-header>
                <h2>Operaciones del monedero</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let monedero of monederos" [routerLink]="['/tabs/operaciones/monedero', monedero.idoperacionesmonedero]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <div *ngIf="monedero.idtipooperacion === 2">
                            <ion-label>
                                <h1>
                                    $ -{{monedero.monto}}
                                </h1>
                                <h2>
                                    Fecha: {{monedero.fecha.split('T', 1 )}}
                                </h2>
                                Hora: {{monedero.hora.hours}}:{{monedero.hora.minutes}}
                            </ion-label>
                        </div>
                        <div *ngIf="monedero.idtipooperacion === 1">
                            <ion-label>
                                <h1>
                                    $ +{{monedero.monto}}
                                </h1>
                                <h2>
                                    Fecha: {{monedero.fecha.split('T', 1 )}}
                                </h2>
                                Hora: {{monedero.hora.hours}}:{{monedero.hora.minutes}}
                            </ion-label>
                        </div>

                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>


        <ion-card>
            <ion-card-header>
                <h2>Operaciones de cuentas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let cuenta of cuentas" [routerLink]="['/tabs/operaciones', cuenta.idoperacioncuenta]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>

                            <h1>
                                $ -{{cuenta.monto}}
                            </h1>
                            <h2>
                                Fecha: {{cuenta.fecha.split('T', 1 )}}
                            </h2>

                            Hora: {{cuenta.hora.hours}}:{{cuenta.hora.minutes}}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>



        <ion-card>
            <ion-card-header>
                <h2>Operaciones de tarjetas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let tarjeta of tarjetas" [routerLink]="['/tabs/operaciones/tarjeta', tarjeta.idoperaciontarjeta]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>

                            <h1>
                                $ -{{tarjeta.monto}}
                            </h1>
                            <h2>
                                Fecha: {{tarjeta.fecha.split('T', 1 )}}
                            </h2>

                            Hora: {{tarjeta.hora.hours}}:{{tarjeta.hora.minutes}}
                        </ion-label>

                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones de reintegro</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let reintegro of reintegros" [routerLink]="['/tabs/operaciones/reintegro', reintegro.idreintegro]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Estatus: {{reintegro.estatus}}
                            <h2>
                                Fecha: {{reintegro.fecha_solicitud.split('T', 1 )}}
                            </h2>
                        </ion-label>

                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

    </div>


</ion-content>