<nav id="sidebar" class="sidebar" [ngClass]="{'hidden': sideNavService.hideSideNav }">
    <ul class="navbar-nav fa-ul">
      <li class="nav-item active">
          <br>
          <p (click) = "sideNavService.toggleInicio()"><i class="fas fa-home fa-1x " title="Inicio" ></i> Inicio</p>
      </li>

      <li class="nav-item">
        <p (click) = "sideNavService.toggleMovimientos()"><i class="fas fa-coins fa-1x" title="Movimientos" ></i> Movimientos</p>
      </li>

      <li class="nav-item">
        <p (click) = "sideNavService.toogleProductos()"><i class="fas fa-credit-card fa-1x" title="Agregar Producto"></i> Productos</p>
    </li>

      <li class="nav-item">
        <p (click) = "sideNavService.toggleBloquear()"><i class="fas fa-ban fa-1x" title="Bloquear"></i> Bloquear</p>
      </li>

      <li class="nav-item">
        <p (click) = "sideNavService.togglePerfil()"><i class="fas fa-user fa-1x" title="Perfil"></i>  Perfil</p>    
      </li>

      <li class="nav-item">
        <p (click) = "sideNavService.toggleConfiguraciones()"><i class="fas fa-cog fa-1x" title="Configuraciones"></i> Configuraciones</p>
      </li>

      <li class="nav-item">
        <p (click) = "sideNavService.logout()" ><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</p>
      </li>
    </ul>

    
  </nav>