<app-top-nav></app-top-nav>
<div class="wrapper">
  <div class="row">
    <app-side-nav></app-side-nav>
    <div class="container">
      <app-agregar-cuenta></app-agregar-cuenta>
      <app-agregar-tarjeta></app-agregar-tarjeta>
      <app-pantalla-inicio></app-pantalla-inicio>
      <app-productos></app-productos>
      <app-tabla-movimientos></app-tabla-movimientos>
      <app-bloquear></app-bloquear>
      <app-perfil></app-perfil>
      <app-configuraciones></app-configuraciones>
    </div>
  </div>
  
</div>