<div *ngIf = "s_perfil.show">
    
    <h1 class="display-4">Información personal</h1>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div *ngIf = "infoPersona != null">   
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="nombre"><h4>Nombre</h4></label>
                            <input type="text" class="form-control" [(ngModel)] =  "infoPersona.nombre" value = {{infoPersona.nombre}} [disabled] = "isDisabled">
                        </div>
                        <div class="col-md-6">
                            <label for="apellido"><h4>Apellido</h4></label>
                            <input type="text" class="form-control" [(ngModel)]="infoPersona.apellido" value = {{infoPersona.apellido}} [disabled] = "isDisabled">
                        </div>
                    </div>
                    <br>
                </div>

                <div *ngIf = "infoComercio != null">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label ><h4>Razón Social</h4></label>
                            <input type="text" class="form-control" [(ngModel)]="infoComercio.razonSocial" value = {{infoComercio.razonSocial}} [disabled] = "isDisabled">    
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-1">
                        <label><h4>Tipo</h4></label>
                        <select class="form-control" disabled>
                            <option>{{tipoIdentificacion}}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label><h4>Nro. Identificación</h4></label>
                        <label><h4> </h4></label>
                        <input type="text" class="form-control" [(ngModel)]="infoUsuario.nroIdentificacion" value = {{infoUsuario.nroIdentificacion}} [disabled] = "isDisabled">
                    </div>
                    <div class="col-md-6">
                        <label ><h4>Correo Electrónico</h4></label>
                        <input type="text" class="form-control" [(ngModel)]="infoUsuario.email" value={{infoUsuario.email}} [disabled] = "isDisabled">
                    </div>
                </div>
                <br>

                <div *ngIf = "infoPersona != null"> 
                    <div class="form-row">
                        <div class="col-md-6">
                            <label ><h4>Fecha Nacimiento</h4></label>
                            <input type="date" class="form-control" [value]="infoPersona.fechaNacimiento | date:'yyyy-MM-dd' " disabled>
                        </div>
                        <div class="col-md-6">
                            <label ><h4>Estado Civil</h4></label>
                            <select class="form-control" disabled>
                                <option>{{estadoCivil}}</option>
                            </select>
                        </div>

                    </div>
                    <br>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <label><h4>Teléfono</h4></label>
                        <input type="text" class="form-control" [(ngModel)]="infoUsuario.telefono" value={{infoUsuario.telefono}} [disabled] = "isDisabled">
                    </div>
                </div>
                <br>

                <div class="form-row">
                    <div class="col-md-12">
                        <label ><h4>Dirección</h4></label>
                        <input type="text" class="form-control" [(ngModel)]="infoUsuario.direccion" value = {{infoUsuario.direccion}} [disabled] = "isDisabled">
                    </div>
                </div>
                <br>

                <hr>
                
                <div *ngIf = "infoComercio != null">
                    <label ><h3>Representantes</h3></label>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label ><h4>Nombre</h4></label>
                            <input type="text" class="form-control" [(ngModel)]="infoComercio.nombreRepresentante" value = {{infoComercio.nombreRepresentante}} [disabled] = "isDisabled">
                        </div>
                        <div class="col-md-6">
                            <label><h4>Apellido</h4></label>
                            <input type="text" class="form-control" [(ngModel)]="infoComercio.apellidoRepresentante" value = {{infoComercio.apellidoRepresentante}} [disabled] = "isDisabled">
                        </div>
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <div class="col-xl-12">
                        <button class="btn btn-primary float-right" type="submit" (click) ="editar()" [disabled] = "!isDisabled" *ngIf = "isDisabled">Editar</button>
                        <button type="button" class="btn btn-success float-right mr-2" *ngIf = "!isDisabled" (click) = "guardarCambios()">Guardar</button>
                        <button type="button" class="btn btn-danger float-right mr-2" (click) ="cancelar()" *ngIf = "!isDisabled">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
</div>
