<div *ngIf = "showCards">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div style="text-align: center;">
              <h5 class="card-title" >Registrarse como Persona Natural</h5>
              <span style="color: #AED6F1;"><i class="fas fa-user fa-7x"></i></span>
            </div>
            <br>
            <div class="row justify-content-center">
              <button class="btn btn-primary" (click) = "togglePersona()">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" >
          <div class="card-body">
            <div style="text-align: center;">
              <h5 class="card-title" >Registrarse como Comercio</h5>
              <span style="color: #AED6F1;"><i class="fas fa-store-alt fa-7x"></i></span>
            </div>
            <br>
            <div class="row justify-content-center">
              <button class="btn btn-primary" (click) = "toggleComercio()">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf = "showPersona">    
  <div class="container">
    <h3>Registro como Persona</h3>
    <br>
    <form [formGroup]="formPersona">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nombre (*)</label>
          <input type="text" class="form-control" formControlName="nombre">
        </div>
  
        <div class="form-group col-md-6">
          <label>Apellido (*)</label>
          <input type="text" class="form-control" formControlName="apellido">
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Fecha de Nacimiento (*)</label>
          <input class="form-control" type="date" formControlName="fechaNac"> 
        </div>
        <div class="form-group col-md-6">
          <label>Estado Civil (*)</label>
          <select class="form-control" required formControlName="estadoCivil">
            <option value="1" selected>SOLTERO</option>
            <option value="2">CASADO</option>
          </select>

        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showComercio">
  <div class="container">
    <h3>Registro como Comercio</h3>
    <br>
    <form [formGroup]="formComercio">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Razón Social (*)</label>
          <input type="text" class="form-control" formControlName="razonSocial">
        </div>
  
        <div class="form-group col-md-6">
          <label>Nombre Representante (*)</label>
          <input type="text" class="form-control" formControlName="nombreRepresentante">
        </div>
        
        <div class="form-group col-md-6">
          <label>Apellido Representante (*)</label>
          <input type="text" class="form-control" formControlName="apellidoRepresentante">
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showUsuario">
  <div class="container">
    <br>
    <hr>
    <br>
  <form [formGroup]="formUsuario">
    
    <div class="form-row">
      <div class="form-group col-md-1">
        <label>Tipo (*)</label>
        <select class="form-control" formControlName="tipoId">
          <option value="1" selected>V</option>
          <option value="2">E</option>
          <option value="3">P</option>
          <option value="4">J</option>
        </select>
      </div>
  
      <div class="form-group col-md-3">
        <label>Número Identificación (*)</label>
        <input type="text" class="form-control" formControlName="numeroId">
      </div>
  
      <div class="form-group col-md-4">
        <label>Teléfono (*)</label>
        <input type="text" class="form-control" formControlName="telefono">
      </div>
  
      <div class="form-group col-md-4">
        <label>Email (*)</label>
        <input type="text" class="form-control" formControlName="correo" >
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Dirección (*)</label>
        <input type="text" class="form-control" formControlName="direccion">
      </div>
    </div>
  
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Usuario (*)</label>
        <input type="text" class="form-control"  formControlName="usuario">
      </div>
    
      <div class="form-group col-md-4">
        <label>Contraseña (*)</label>
        <input type="password" class="form-control" formControlName="contra">
      </div>
  
      <div class="col-md-4">
        <br>
        <span>Mínimo 8 caracteres debe incluir una mayúscula y un número</span>
      </div>
    </div>
  </form>

    <span>* Obligatorios</span>
    <button class="btn btn-primary float-right" type="submit" 
    [disabled] = "(formPersona.invalid && formUsuario.invalid) || (formComercio.invalid && formUsuario.invalid)"
    (click) = "enviar()">Registrarse</button>
  </div>
  
</div>