<div class="container">

    <div class="row">
      <div class="md-col-6">
        <h1 class="display-3">Bienvenido a Monyucab</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-4">
        <h4>sobre nosotros</h4>
        <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
      </div>
      <div class="col-4">
        <h4>VErga nose</h4>
        <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
      </div>
      <div class="col-4">
        <h4>Contáctanos</h4>
        <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
      </div>
    </div>
    
    
    <h1 class="display-4">Nuestros Productos</h1>
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Post Virtual.png" class="card-img-top" alt="Portal Web">
        <div class="card-body">
          <h5 class="card-title">Portal Web</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/post-vitual.png" class="card-img-top" alt="Post Virtual">
        <div class="card-body">
          <h5 class="card-title">Post Virtual</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Monedero virtual 2.png" class="card-img-top" alt="Monedero Virtual">
        <div class="card-body">
          <h5 class="card-title">Monedero Virtual</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      
    </div>
    
    <!-- Footer -->
    <footer class="footer">
    
      <div class="container">
        <div class="col-10">
          <p>© 2020 Copyright: Monyucab</p>
        </div>
      </div>
    
    </footer>
    <!-- Footer -->
  </div>