<div class="container">

    <div class="row">
      <div class="md-col-6">
        <h1 class="display-3">Bienvenido a Monyucab</h1>
      </div>
    </div>

    <br>
    
    <div class="row justify-content-between">
      <div class="col-4">
        <h4>Sobre nosotros</h4>
        <p >Monyucab es una plataforma para gestionar tu dinero fácilmente.</p>
        <ul class="fa-ul">
          <li>
            <p ><span style="color: #7CFC00;"><i class="fas fa-check"></i></span> Solicita pagos</p>
          </li>
          <li>
            <p><span style="color: #7CFC00;"><i class="fas fa-check"></i></span> Maneja tus cuentas y tarjetas en un solo lugar</p>   
          </li>
          <li>
            <p><span style="color: #7CFC00;"><i class="fas fa-check"></i></span> Para personas naturales y jurídicas</p>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h4>Contáctanos</h4>
        <p class="info"><span style=" color: #00acee;"><i class="fab fa-twitter fa-2x"></i></span> @Monyucab</p>
        <p class="info"><span style="color: #3b5998;"><i class="fab fa-facebook-square fa-2x"></i></span> Monyucab</p>
        <p class="info"><span style="color : #E1306C;"><i class="fab fa-instagram fa-2x"></i></span> @Monyucab</p>
        <p class="info"><span style="color: #2EB67D"><i class="fab fa-slack-hash fa-2x"></i> </span> Monyucab</p>
        <p class="info"><span style="color: #c4302b;"><i class="fab fa-youtube fa-2x"></i></span> MonyucabCanal</p>
      </div>
    </div>
    
    
    <h1 class="display-4">Nuestros Productos</h1>
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/Portal.png" class="card-img-top" alt="Portal Web">
        <div class="card-body">
          <h5 class="card-title">Portal Web</h5>
          <p class="card-text">Maneja tus cuentas desde la comodidad de tu computadora. Bloquea pagos. Agrega cuentas bancarias y tarjetas.</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/post-vitual.png" class="card-img-top" alt="Post Virtual">
        <div class="card-body">
          <h5 class="card-title">Post Virtual</h5>
          <p class="card-text">Solicita pagos tanto como a personas como a negocios. Recibe notificaciones cuando te hagan un pago.</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/monedero.png" class="card-img-top" alt="Monedero Virtual">
        <div class="card-body">
          <h5 class="card-title">Monedero Virtual</h5>
          <p class="card-text">Gestiona tus cuentas y tarjetas desde una sola aplicación donde quiera que estés</p>
        </div>
      </div>
      
    </div>
    
    <!-- Footer -->
    <footer class="footer">
    
      <div class="container">
        <div class="col-10">
          <p>© 2020 Copyright: Monyucab</p>
        </div>
      </div>
    
    </footer>
    <!-- Footer -->
  </div>